---
import SafeImage from './SafeImage.astro';
// Interface
interface Props {
  text: string;
  logo: string;
}

const { text, logo } = Astro.props;

// Verificamos si es una URL
const isUrl = logo.startsWith('http');
---

<div class='group flex items-center gap-4 px-5 py-3 rounded-2xl bg-zinc-900/40 border border-white/5 hover:border-white/10 hover:bg-zinc-800/50 backdrop-blur-md transition-all duration-300 w-max'>
  {
    isUrl ? (
      <SafeImage
        imageName={logo.replace('.webp','').replace('/','')}
        alt={text}
        class="w-8 h-8 object-contain filter grayscale group-hover:grayscale-0 transition-all duration-500 opacity-70 group-hover:opacity-100"
      />
    ) : (
      <i class={`${logo} text-3xl text-zinc-400 group-hover:text-white transition-colors duration-300`}></i>
    )
  }

  <span class='text-lg font-medium text-zinc-400 group-hover:text-white transition-colors duration-300 tracking-wide'>
    {text}
  </span>
</div>
---
